<% content_for :"head" do %>
    <title>Agregar Imagenes de Estacionamiento</title>
<% end %>

<div class="container">
      <h2 class="text-left">Arrastrar Imagen</h2>
    

    <div class="col-sm-offset-2 col-sm-6">

      <div class="panel-body">


         <form class="form-horizontal">

            <div class="container">
                 <img src=<%= image_path("auto1.jpg") %> class="img-rounded" alt="Cinque Terre" width="304" height="236"> 
            </div>

        </form>
    </div>
  </div>
</div>










