<% content_for :"head" do %>
	<title>Calificación de estacionamiento</title>
<% end %>

<div class="container">
	  <h1 class="text-left">Park Here</h1>
	  <h2 class="text-left">Calificación de estacionamiento</h2>
		<h3 class="text-left">Estacionamiento en Miraflores</h3>
		<h4 class="text-left">Dirección: Av. Benavides 123 - Lima, Lima, Miraflores</h4>

	<div class="col-sm-offset-2 col-sm-6">

	  <div class="panel-body">


		 <form class="form-horizontal">

		    
		      <div class="form-group">
		         <label class="control-label col-sm-4">Puntaje</label>
		         
 				<div class="col-sm-4">
				    <div class="radio">
				      <label><input type="radio" name="optradio">1</label>
				    </div>

				    <div class="radio">
				      <label><input type="radio" name="optradio">2</label>
				    </div>

				      <div class="radio">
				      <label><input type="radio" name="optradio">3</label>
				    </div>

				      <div class="radio">
				      <label><input type="radio" name="optradio">4</label>
				    </div>

				      <div class="radio">
				      <label><input type="radio" name="optradio">5</label>
				    </div>
				</div>

		      </div>

		      <div class="form-group">
			      <label class="control-label col-sm-4" >Comentarios</label>
			      <div class="col-sm-8">          
			        <textarea class="form-control" rows="4"></textarea> 
			      </div>
			    </div>	

		     <div class="form-group">
	            	<div class="col-sm-offset-2 col-sm-3">
	                        <button type="btn_enviar" class="btn btn-info btn-block">Enviar</button>
	                </div>
	                <div class="col-sm-offset-2 col-sm-3">
	                        <button type="btn_Cancelar" class="btn btn-info btn-block">Cancelar</button>
	                </div>
	                
	           </div>

		</form>
	</div>
  </div>
</div>










