<header>
    <img src="http://www.iciprivatesale.com/wp-content/uploads/2017/02/resurfaced-concrete-parking-lot.jpg" style="width:100%">
</header> 

<style>
    #centrado{
        position:fixed;
    
        top:50%;
      
        margin-top:-100px;
    }
</style>


<div id="bgimage"></div>

<div id="centrado">
            
          <div class="container">
                <div class="row">    
                    <div class="col-sm-8 col-sm-offset-2">
                      <h1 class="text-primary" >Busca tu estacionamiento y haz tu reserva</h1>
                    <div class="input-group">
                                               
                            <input type="text" class="form-control" name="search" placeholder="Busca tu estacionamiento">
                            <span class="input-group-btn">
                               <a href="../parks/find">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button></a>
                            </span>
                        </div>
                    </div>
              </div>
          </div>
    </div>
</div>
