<div class="container-fluid text-center">    
  <div class="row content">
  	<div class="col-sm-2 sidenav">    
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Estacionate aquí</h1>
      <hr>
      <div>
        <table>
          <div style="width:200px;float:left;display:inline-block;">
          </div>         <div style="margin-left:200px;">
          </div>
        </table>
        <table class="table table-striped">
          <thead>
            <tr >
              <th scope="col"><h1>Propietario</h1>
                Podrás publicar los estacionamientos y rentas facilmente
              </th>
              <th scope="col"><h1>Usuario</h1>
              Encuentra el lugar adecuado donde estacionar</th>
            </tr>
            <tr >
              <th scope="col">

                <button type="button" class="btn btn-info">
                  <%= link_to "Iniciar sesion de propietario", controller:"pages", action: "login_propietary" %> </button>
                </th>
                <th scope="col">
                  <button  type="submit" class="btn btn-info"><%= link_to "Iniciar sesion de usuario", controller:"pages", action: "login_user"  %> </button>
                </th>
              </tr>
            </thead>
          </div>

        </div>
        <div class="col-sm-2 sidenav">
        </div>
      </div>
    </div>