

<div id="flipkart-navbar">
	<div class="container">
		<div class="row row1">
			<div class="col-sm-2">
			</div>
			<div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
				<div class="row">
					<input class="flipkart-navbar-input col-xs-11" type="" placeholder="Busca tu estacionamiento" name="">
					<button class="flipkart-navbar-button col-xs-1">
						<svg width="15px" height="15px">
							<path d="M11.618 9.897l4.224 4.212c.092.09.1.23.02.312l-1.464 1.46c-.08.08-.222.072-.314-.02L9.868 11.66M6.486 10.9c-2.42 0-4.38-1.955-4.38-4.367 0-2.413 1.96-4.37 4.38-4.37s4.38 1.957 4.38 4.37c0 2.412-1.96 4.368-4.38 4.368m0-10.834C2.904.066 0 2.96 0 6.533 0 10.105 2.904 13 6.486 13s6.487-2.895 6.487-6.467c0-3.572-2.905-6.467-6.487-6.467 "></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="navbar navbar-default visible-xs">
	<div class="container-fluid">
		<button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
			<i class="fa fa-tasks"></i> Toggle Sidebar
		</button>
	</div>
</div>

<div class="container-fluid">

	<div class="row">

		<!-- filter sidebar -->
		<div id="filter-sidebar" class="col-xs-6 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar">

			<div>
				<h4 data-toggle="collapse" data-target="#group-1">
					<i class="fa fa-fw fa-caret-down parent-expanded"></i>
					<i class="fa fa-fw fa-caret-right parent-collapsed"></i>
					Departamento
				</h4>
				<div id="group-1" class="list-group collapse in">
					<select class="selectpicker show-menu-arrow">
						<option>Lima</option>
						<option>Arequipa</option>
					</select>
				</div>
			</div>
			<div>
				<h4 data-toggle="collapse" data-target="#group-1">
					<i class="fa fa-fw fa-caret-down parent-expanded"></i>
					<i class="fa fa-fw fa-caret-right parent-collapsed"></i>
					Provincia
				</h4>
				<div id="group-1" class="list-group collapse in">
					<select class="selectpicker show-menu-arrow">
						<option>Lima</option>
						<option>Arequipa</option>
					</select>
				</div>
			</div>
			<div>
				<h4 data-toggle="collapse" data-target="#group-1">
					<i class="fa fa-fw fa-caret-down parent-expanded"></i>
					<i class="fa fa-fw fa-caret-right parent-collapsed"></i>
					Distrito
				</h4>
				<div id="group-1" class="list-group collapse in">
					<select class="selectpicker show-menu-arrow">
						<option>Lima</option>
						<option>Arequipa</option>
					</select>
				</div>
			</div>

			<div>
				<h4 data-toggle="collapse" data-target="#group-2">
					<i class="fa fa-fw fa-caret-down parent-expanded"></i>
					<i class="fa fa-fw fa-caret-right parent-collapsed"></i>
					Moneda
				</h4>
				<div id="group-1" class="list-group collapse in">
					<select class="selectpicker show-menu-arrow">
						<option>Soles</option>
					</select>
				</div>
			</div>

			<div>
				<h4 data-toggle="collapse" data-target="#group-3">
					<i class="fa fa-fw fa-caret-down parent-expanded"></i>
					<i class="fa fa-fw fa-caret-right parent-collapsed"></i>
					Rango de precios
				</h4>
				<div id="group-3" class="list-group collapse in">
					<input class="form-control form-control-lg" type="text" placeholder="Desde">
					<input class="form-control form-control-lg" type="text" placeholder="Hasta">
				</div>
			</div>

			<div>
				<h4 data-toggle="collapse" data-target="#group-3">
					<i class="fa fa-fw fa-caret-down parent-expanded"></i>
					<i class="fa fa-fw fa-caret-right parent-collapsed"></i>
					Tipo de estacionamiento
				</h4>
				<div id="group-1" class="list-group collapse in">
					<select class="selectpicker show-menu-arrow">
						<option>Interior</option>
						<option>Exterior</option>
					</select>
				</div>
			</div>
			

		</div>

		<!-- table container -->
		<div class="col-sm-9">

			<table class="table table-striped table-hover table-responsive">
				<thead>
					<tr>
						<th>Title</th>
						<th>Artist</th>
						<th class="align-right">Price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="valign-middle" data-label="Title">
							<a href="#">See You Again</a>
						</td>
						<td class="valign-middle" data-label="Artist">
							Wiz Khalifa
						</td>
						<td class="valign-middle align-right" data-label="Price">
							$1.99
						</td>
						<td class="valign-middle align-right">
							<a class="btn btn-default" href="#" data-toggle="tooltip" title="Add to Cart" data-placement="bottom" data-trigger="hover">
								<i class="fa fa-cart-plus"></i>
								<span class="visible-xs">Add to Cart</span>
							</a>
						</td>
					</tr>
					<tr>
						<td class="valign-middle" data-label="Title">
							<a href="#">See You Again</a>
						</td>
						<td class="valign-middle" data-label="Artist">
							Wiz Khalifa
						</td>
						<td class="valign-middle align-right" data-label="Price">
							$1.99
						</td>
						<td class="valign-middle align-right">
							<a class="btn btn-default" href="#" data-toggle="tooltip" title="Add to Cart" data-placement="bottom" data-trigger="hover">
								<i class="fa fa-cart-plus"></i>
								<span class="visible-xs">Add to Cart</span>
							</a>
						</td>
					</tr>
					<tr>
						<td class="valign-middle" data-label="Title">
							<a href="#">See You Again</a>
						</td>
						<td class="valign-middle" data-label="Artist">
							Wiz Khalifa
						</td>
						<td class="valign-middle align-right" data-label="Price">
							$1.99
						</td>
						<td class="valign-middle align-right">
							<a class="btn btn-default" href="#" data-toggle="tooltip" title="Add to Cart" data-placement="bottom" data-trigger="hover">
								<i class="fa fa-cart-plus"></i>
								<span class="visible-xs">Add to Cart</span>
							</a>
						</td>
					</tr>
					<tr>
						<td class="valign-middle" data-label="Title">
							<a href="#">See You Again</a>
						</td>
						<td class="valign-middle" data-label="Artist">
							Wiz Khalifa
						</td>
						<td class="valign-middle align-right" data-label="Price">
							$1.99
						</td>
						<td class="valign-middle align-right">
							<a class="btn btn-default" href="#" data-toggle="tooltip" title="Add to Cart" data-placement="bottom" data-trigger="hover">
								<i class="fa fa-cart-plus"></i>
								<span class="visible-xs">Add to Cart</span>
							</a>
						</td>
					</tr>
					<tr>
						<td class="valign-middle" data-label="Title">
							<a href="#">See You Again</a>
						</td>
						<td class="valign-middle" data-label="Artist">
							Wiz Khalifa
						</td>
						<td class="valign-middle align-right" data-label="Price">
							$1.99
						</td>
						<td class="valign-middle align-right">
							<a class="btn btn-default" href="#" data-toggle="tooltip" title="Add to Cart" data-placement="bottom" data-trigger="hover">
								<i class="fa fa-cart-plus"></i>
								<span class="visible-xs">Add to Cart</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</div>
