<% content_for :"head" do %>
<title>Imágenes</title>
<% end %>

<div class="container">
  <h1 class="text-left">Arrastrar imagen</h1>
</div>



	

<div class="container"> 
	 
	 <div class="row">

	   

		 <div class="col-sm-4">
	        <a href="#" class="thumbnail">
	            <img src="http://placehold.it/260x180" class="rounded" alt="" width="260" height="180">
	            <a href="http://www.jquery2dotnet.com" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
	        </a>
	      </div>

	      <div class="col-sm-4">
	        <a href="#" class="thumbnail">
	            <img src="http://placehold.it/260x180" alt="">
	            <a href="http://www.jquery2dotnet.com" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
	        </a>
	      </div>

	         <div class="col-sm-4">
	        <a href="#" class="thumbnail">
	            <img src="http://placehold.it/260x180" alt="">
	            <a href="http://www.jquery2dotnet.com" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
	        </a>
	      </div>
	    </div>

    <div class="row">

	   

		 <div class="col-sm-4">
	        <a href="#" class="thumbnail">
	            <img src="http://placehold.it/260x180" class="rounded" alt="" width="260" height="180">
	            <a href="http://www.jquery2dotnet.com" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
	        </a>
	     </div>

	     <div class="col-sm-4">
	        <a href="#" class="thumbnail">
	            <img src="http://placehold.it/260x180" alt="">
	            <a href="http://www.jquery2dotnet.com" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
	        </a>
	     </di>
    </div>



