<div class="container">
  <div class="row">
    <div class="col-lg-4">

    </div>
    <div class="col-lg-6 border">
      <h3 style="font-style: oblique;font-weight: bold;"><u>Detalles Estacionamiento</u></h3><br>
      <h4>Ubicación:</h4><br>
      <h4>Puntuacion:</h4><br>
      <h4>Precio (Hora):</h4><br>
      <h4>Servicios Adicionales:</h4>
    </div>
  </div>
  
</div>