<% content_for :"head" do %>
<title>Registro de estacionamiento</title>
<% end %>



<div class="container">
  <h1 class="text-center">Registro de estacionamiento</h1>
<form class="form-horizontal">
  <div class="row">
    <div class="col-sm-8">
  
        <div class="form-group">
          <label class="control-label col-sm-3" for="name">Nombre</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="name" placeholder="Ingrese nombre">
          </div>
        </div>
       
        <div class="form-group">
          <label class="control-label col-sm-3" for="adress">Dirección</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="adress" placeholder="Ingrese dirección">
          </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3"></label>
              <div class="col-sm-3">
                  <select type="text" placeholder="Departamento" class="form-control">
                     <option>Departamento</option>
                    <option value="female">Lima</option>
                    <option value="male">Arequipa</option>
                  </select>
              </div>

              <div class="col-sm-3">
                  <select type="text" placeholder="Provincia" class="form-control">
                     <option>Provincia</option>
                    <option value="female">Lima</option>
                    <option value="male">Arequipa</option>
                  </select>
              </div>

              <div class="col-sm-3">
                  <select type="text" placeholder="Distrito" class="form-control">
                     <option>Distrito</option>
                    <option value="female">Lima</option>
                    <option value="male">Arequipa</option>
                  </select>
              </div>
        </div>
   
        <div class="form-group">
          <label class="control-label col-sm-3" for="phone">Teléfono fijo</label>
          <div class="col-sm-6">
            <input type="tel" class="form-control" id="phone" placeholder="Ingrese teléfono">
          </div>

          <label class="control-label" for="phone">(Opcional)</label>

        </div>

        <div class="form-group">
          <label class="control-label col-sm-3" for="email">Correo</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" id="email" placeholder="Ingrese correo">
          </div>
        </div>



        <div class="form-group">
          <label class="control-label col-sm-3">Precio por hora</label>
            <div class="col-sm-3">
                <select type="text" placeholder="Moneda" class="form-control">
                   <option>Moneda</option>
                  <option value="female">Soles</option>
                  <option value="male">Dolares</option>
                </select>
            </div>

            <div class="col-sm-3">
               <input type="text" class="form-control" id="adress" placeholder="Ingrese precio">
            </div>
            <label class="control-label" for="phone">Ubicación según el tipo</label>

        </div>
     </div>



     <div class="col-sm-4 border">
<!--       <h3 style="font-style: oblique;font-weight: bold;"><u>Detalles Estacionamiento</u></h3><br>
   
       </div>

   -->
     </div>
   </div>
 </form>
</div>
