<% content_for :"head" do %>
<title>Registro de estacionamiento</title>
<% end %>


<div class="container">
    <div class="col-sm-9">
        <h1 class="text-center">Registro de estacionamiento</h1>
    </div>
</div>

<div style="margin-top:20px" > </div>
<div class="container">

    <form class="form-horizontal">
        <div class="row">
            <div class="col-sm-8">

                <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Titulo</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="name" placeholder="Ingrese Titulo">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="address">Dirección</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="address" placeholder="Ingrese dirección">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3"></label>
                    <div class="col-sm-3">
                        <select type="text" placeholder="Departamento" class="form-control">
                            <option>Departamento</option>
                            <option value="op1">Lima</option>
                            <option value="op2">Arequipa</option>
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <select type="text" placeholder="Provincia" class="form-control">
                            <option>Provincia</option>
                            <option value="op1">Lima</option>
                            <option value="op2">Arequipa</option>
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <select type="text" placeholder="Distrito" class="form-control">
                            <option>Distrito</option>
                            <option value="op1">Lima</option>
                            <option value="op2">Arequipa</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="phone">Teléfono fijo</label>
                    <div class="col-sm-6">
                        <input type="tel" class="form-control" id="phone" placeholder="Ingrese teléfono">
                    </div>
                    <label class="control-label" for="phone">(Opcional)</label>
                </div>
            </div>

            <div class="col-sm-4 border">

                <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-5">
                        <%= button_tag :class => "btn button-success btn-block"  do %>
                        <% link_to "Imagenes" , parks_find_path %>
                        <% end %>
                    </div>
                </div>


                <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-5">
                        <%= button_tag :class => "btn button-success btn-block"  do %>
                        <% link_to "Imagenes" , register_parks_images_path %>
                        <% end %>
                    </div>
                </div>

                <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-5">
                        <%= button_tag :class => "btn button-success btn-block"  do %>
                        <% link_to "Servicios" , register_parks_services_path %>
                        <% end %>
                    </div>
                </div>

                <div class="form-group">        
                    <div class="panel panel-default col-sm-offset-2 col-sm-5">
                        <h6>Servicio de limpieza</h6>
                        <h6>Servicio de lavado</h6>                 
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <label class="control-label col-sm-2">Precio por hora</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="price" placeholder="0.00">
            </div>

            <label class="control-label col-sm-2" for="phone">Ubicación según el tipo</label>
            <div class="col-sm-2">
                <select type="text" placeholder="Tipo" class="form-control">
                    <option>Tipo</option>
                    <option value="interior">Interior</option>
                    <option value="mexterior">Exterior</option>
                    <option value="aire">Aire</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div style="margin-top:30px" > </div>

            <div class="col-sm-3">



                <div class="span4 col-sm-offset-1">
                    <div style="margin-top:40px" > </div>
                    <h3>Ubicación</h3>
                    <address>
                        <strong>Estacionamiento Los Portales</strong><br>
                        Av. La Marina Nro. 2355 Urb. Pando<br>
                        San Miguel<br>
                        Lima<br>
                    </address>
                </div>

            </div>

            <div class="col-sm-9">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Ubicación Google Maps</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
                        </button>
                    </div>
                </div>

                <div class="form-group col-sm-9">

                    <div class="span8">
                        <iframe width="100%" height="350" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26245.536560175082!2d-77.08049382038041!3d-12.08321231575948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c971b3e5404f%3A0xf4ee63ada57c8fc9!2sEstacionamiento+Los+Portales!5e0!3m2!1ses-419!2spe!4v1523562963050"></iframe>
                    </div>


                    <div class="span9">

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="name">Coordenadas Longitud</label>
                            <div class="col-sm-4">
                                <label class="control-label col-sm-4" for="name">-12.0832123</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="name">Coordenadas Latitud</label>
                            <div class="col-sm-4">
                                <label class="control-label col-sm-4" for="name">-77.0804938</label>
                            </div>
                        </div>
                    </div>  
                </div>
            </div> 
        </div> 
    </form>
</div>
