<% content_for :"head" do %>
<title>Registro de Servicio Adicional</title>
<% end %>

<div class="container">
    <h2 class="text-center">Registro de servicio adicional del estacionamiento</h2>


    <div class="col-sm-offset-2 col-sm-6">

        <div class="panel-body">


            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-sm-4" >Tipo de Servicio</label>
                    <div class="col-sm-6">
                        <select type="text" placeholder="DNI" class="form-control">
                            <option>Seleccionar tipo de servicio</option>
                            <option value="lavado">Lavado</option>
                            <option value="other">Otros</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-4" >Descripción</label>
                    <div class="col-sm-8">          
                        <textarea class="form-control" rows="4"></textarea> 
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" >Tarifa</label>
                    <div class="col-sm-2">          
                        <input type="Precio" class="form-control" id="tarifa" placeholder="0.00">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-3">
                        <%= button_tag :class => "btn btn-info btn-block"  do %>
                        <% link_to "Agregar" , parks_register_path %>
                        <% end %>
                    </div>
                    <div class="col-sm-offset-2 col-sm-3">
                        <button type="btn_Cancelar" class="btn btn-info btn-block">Cancelar</button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>










