<div class="container">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-6 border">
            <h3 style="font-style: oblique;font-weight: bold;"><u>Detalles Estacionamiento</u></h3><br>
            <h4>Ubicación:</h4><br>
            <h4>Puntuacion:</h4><br>
            <h4>Precio (Hora):</h4><br>
            <h4>Servicios Adicionales:</h4>
        </div>
    </div>
    <h2>Comentarios</h2>
    <div class="media">

        <div class="media-body" style="padding-left: 5px">
            <h3 class="media-heading">Pedro Perez <small><i>Posteado en February 19, 2018</i></small></h3>
            <h5>comentario Inicial.</h5>
            <button class="btn btn-default" data-toggle="collapse" data-target="#subcomentar">Responder</button>
            <div id="subcomentar" class="collapse">
                <br>
                <form>
                    <div class="form-group">
                        <label for="sresponder" class="sr-only">Responder</label>
                        <input type="text" class="form-control" id="sresponder" placeholder="Comentar">
                    </div>
                    <button type="submit" class="btn btn-primary ">Enviar</button>
                </form>          
            </div>
            <!-- Nested media object -->
            <div class="media">

                <div class="media-body" style="padding-left: 5px">
                    <h3 class="media-heading">Luz Garcia <small><i>Posteado en February 19, 2018</i></small></h3>
                    <h5>Sub comentario.</h5>
                    <button class="btn btn-default" data-toggle="collapse" data-target="#subcomentar2">Responder</button>
                    <div id="subcomentar2" class="collapse">
                        <br>
                        <form>
                            <div class="form-group">
                                <label for="sresponder2" class="sr-only">Responder</label>
                                <input type="text" class="form-control" id="sresponder2" placeholder="Comentar">
                            </div>
                            <button type="submit" class="btn btn-primary ">Enviar</button>
                        </form>          
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="media">

        <div class="media-body" style="padding-left: 5px">
            <h3 class="media-heading">Juan Albitrez <small><i>Posteado en February 19, 2018</i></small></h3>
            <h5>Comentario adicional.</h5>
            <button class="btn btn-default" data-toggle="collapse" data-target="#subcomentar1">Responder</button>
            <div id="subcomentar1" class="collapse">
                <br>
                <form>
                    <div class="form-group">
                        <label for="sresponder" class="sr-only">Responder</label>
                        <input type="text" class="form-control" id="sresponder1" placeholder="Comentar">
                    </div>
                    <button type="submit" class="btn btn-primary ">Enviar</button>
                </form>          
            </div>
        </div>
    </div>
    <br>
    <h3>Dejar Comentario</h3>
    <form>
        <div class="form-group">
            <label for="responder" class="sr-only">Responder</label>
            <input type="text" class="form-control" id="responder" placeholder="Comentar">
        </div>
        <button type="submit" class="btn btn-primary ">Enviar</button>
    </form>
</div>