<% content_for :"head" do %>
<title>Calificación de estacionamiento</title>
<% end %>



<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">




<div class="container">
    <h1 class="text-left">Calificación de estacionamiento</h1>
    <h3 class="text-left">Estacionamiento en Miraflores</h3>
    <h4 class="text-left">Dirección: Av. Benavides 123 - Lima, Lima, Miraflores</h4>


   <div class="panel-body col-sm-offset-1  col-sm-6">


     <form class="form-horizontal">

        <div class="stars">
            <input class="star star-5" id="star-5" type="radio" name="star"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" name="star"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star"/>
            <label class="star star-1" for="star-1"></label>
        </div>

                <div class="form-group">
                    
                     <label class="control-label col-sm-2">Comentarios</label>
                    <br> 
                   </br>
                        <textarea class="form-control" rows="4"></textarea> 
                </div>	

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-3">
                        <%= button_tag :class => "btn btn-info btn-block"  do %>
                        <% link_to "Enviar" , parks_find_path %>
                        <% end %>
                    </div>
                    <div class="col-sm-offset-2 col-sm-3">
                        <button type="btn_Cancelar" class="btn btn-info btn-block">Cancelar</button>
                    </div>

                </div>

        </form>
    </div>
</div>










